NODE_ENV=development
PORT=3009
LOG_LEVEL=debug
DATABASE_URL=postgresql://postgres.PROJECT_REF:REPLACE_ME@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?schema=notification-escalation-service&pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://postgres.PROJECT_REF:REPLACE_ME@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?schema=notification-escalation-service
CORS_ORIGINS=http://localhost:5173
