NODE_ENV=development
PORT=3005
LOG_LEVEL=debug
DATABASE_URL=postgresql://postgres.PROJECT_REF:REPLACE_ME@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?schema=risk-referral-service&pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://postgres.PROJECT_REF:REPLACE_ME@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?schema=risk-referral-service
CORS_ORIGINS=http://localhost:5173
